<main>
  <h1>{{ receitaDetalhe.strMeal }}</h1>
  <img [src]="receitaDetalhe.strMealThumb" alt="{{ receitaDetalhe.strMeal }}" />
  <p><strong>Cozinha:</strong> {{ receitaDetalhe.strArea }}</p>
  <p *ngIf="receitaDetalhe.strYoutube; else noVideo">
    Vídeo do YouTube:
    <a class="link-yt" [href]="receitaDetalhe.strYoutube"> Clique Aqui! </a>
  </p>
  <ng-template #noVideo>
    <p>Não possui vídeo</p>
  </ng-template>
  <p><strong>Instruções:</strong></p>
  <p>{{ receitaDetalhe.strInstructions }}</p>
</main>
