<main>
  <h2 class="titulo-principal">{{ receitaDetalhe.strMeal }}</h2>
  <div class="content">
    <div class="image-container">
      <img [src]="receitaDetalhe.strMealThumb" alt="{{ receitaDetalhe.strMeal }}" />
    </div>
    <div class="details-container">
      <p><strong>Cozinha:</strong> {{ receitaDetalhe.strArea }}</p>
      <p *ngIf="receitaDetalhe.strYoutube; else noVideo">
        Vídeo do YouTube:
        <a class="link-yt" [href]="receitaDetalhe.strYoutube"> Clique Aqui! </a>
      </p>
      <ng-template #noVideo>
        <p>Não possui vídeo</p>
      </ng-template>
      <p><strong>Instruções:</strong></p>
      <p>{{ receitaDetalhe.strInstructions}}</p>

    </div>
  </div>
</main>
