<main>
  <h2 class="titulo-principal">Explore Nossas Categorias de Receitas</h2>
  <div *ngFor="let categorias of categoria" class="categoria-container">
    <h2>{{ categorias.strCategory }}</h2>

    <div class="receitas-container">
      <div
        class="receita-box"
        *ngFor="let receita of receitasPorCategoria[categorias.strCategory]"
      >
        <h3>{{ receita.strMeal | limitar}}</h3>
        <img [src]="receita.strMealThumb" alt="{{ receita.strMeal }}" />
        <button [routerLink]="['/detalhes', receita.idMeal]" >Ver receita</button>
      </div>
    </div>

    <button [routerLink]="['/categoria', categorias.strCategory]">
      Ver todas receitas de {{ categorias.strCategory }}
    </button>
  </div>
</main>
