.categoria-container {
  border: 2px solid #ccc;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #fafafa;
}

h1 {
  font-family: "Oswald", serif;
}

h2 {
  font-weight: bold;
  font-family: "Oswald", serif;
}

.titulo-principal {
  margin-top: 60px;
  margin-bottom: 60px;
}

.receitas-container {
  display: flex;
  flex-wrap: nowrap; /* Impede que os cards quebrem para uma nova linha */
  gap: 16px;
  margin-top: 16px;
  justify-content: flex-start; /* Alinha os cards no início da linha */
  overflow-x: auto; /* Permite que o container role horizontalmente, se necessário */
  width: 100%; /* Garante que o container ocupe toda a largura disponível */
  box-sizing: border-box; /* Inclui o padding no cálculo da largura total */
}

/* Classe que será aplicada quando houver apenas um card */
.receitas-container.centralizar {
  justify-content: center; /* Centraliza o único card */
}

.receita-box {
  width: 200px; /* Tamanho fixo do card */
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-family: "Oswald", serif;
  transition: transform 0.3s ease-in-out;
}
/* Ajuste no título para garantir que ele não quebre o layout e ocupe o espaço adequadamente */
.receita-box h3 {
  min-height: 50px; /* Garante que o título tenha um espaço mínimo adequado */
  overflow: hidden;
  font-family: "Host Grotesk", sans-serif;
  text-align: center;
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase; /* Mantém o título em maiúsculas */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o título */
}

/* Estilização das imagens com altura ajustável */
img {
  margin-top: auto;
  width: 100%;
  height: 120px; /* Aumenta a altura das imagens para combinar com o tamanho do card */
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #ddd;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-color: #ffa500;
}

button {
  margin-top: auto;
  background-color: #ffa500;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff8c00;
  transform: scale(1.1);
}
