.background-image {
  background-image: url("https://img.freepik.com/free-photo/delicious-goulash-stew-table_23-2149371729.jpg?t=st=1732389702~exp=1732393302~hmac=65c559c6fb1374868f44b9317f8df501bd0f0b77a188d088f49bc969bfd87229&w=900");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay-container {
  background-color: rgba(0, 0, 0, 0.6);   border-radius: 10px;   padding: 30px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chamativo {
  font-family: "Oswald", serif;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);   margin: 0;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.input-pesquisa {
  font-family: "Oswald", serif;
  width: 300px;   padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

h2 {
  font-family: "Oswald", serif;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

section {
  padding: 100px 20px;
}

#receitas-destaque {
  padding: 20px;
  background-color: #f9f9f9;
}

#receitas-destaque h2 {
  font-family: "Oswald", serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 50px;
  margin-top: 50px;
}

.receitas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;   justify-content: center;
}

.card {
  font-family: "Oswald", serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;   width: 220px;   text-align: center;
  margin: 10px;
}

.card:hover {
  transform: translateY(-10px);   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }

.card-img {
  width: 100%;
  height: 150px;   object-fit: cover;
  border-bottom: 2px solid #eee;
}

.card-title {
  font-family: "Oswald", serif;
  font-size: 16px;   color: #333;
  margin: 10px 5px;   text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;   background-color: #6BBF59;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-button:hover {
  background-color: #55a347;
  transform: translateY(-2px); }

.card-button:active {
  background-color: #3b7a32;
  transform: translateY(0); }

#categorias-receitas {
  padding: 20px;
  background-color: #fff9c4;
}

#categorias-receitas h2 {
  font-family: "Oswald", serif;
  color: #333;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.categorias-container {
  display: flex;
  flex-wrap: wrap;
  gap:70px;   justify-content: center;   padding: 20px 0; }

.categoria-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 100%;
  max-width: 250px;   font-family: "Oswald", serif;
}

.categoria-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.categoria-img {
  width: 100%;
  height: 120px;   object-fit: cover;
  border-bottom: 2px solid #e6e6e6;
}

.categoria-title {
  font-family: "Oswald", serif;
  font-weight: bold;
  color: #333;
  padding: 8px 0;   margin: 0;
}
