/* Container dos resultados */
main{
  background-color: #fff9c4; /* Fundo da área dos resultados */
  padding: 20px;
}
.resultados-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px auto;
  margin-bottom: 120px;
  padding: 20px;
  border-radius: 8px;
}

/* Card de receita */
.card-receita {
  width: 220px; /* Ajustando o tamanho dos cards */
  background-color: #ffffff; /* Fundo branco para os cards */
  text-align: center;
  border-radius: 8px;
  overflow: hidden; /* Evitar que elementos ultrapassem o limite do card */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Mudança de transição */
  margin: 10px;
}

.card-receita:hover {
  transform: translateY(-10px); /* Levanta o card inteiro */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para destacar o card */
}

/* Título da receita */
.titulo-receita {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem; /* Fonte ajustada para o título */
  color: #000000; /* Cor dourada para o título */
  font-weight: bold;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Imagem do card */
.imagem-receita {
  width: 100%;
  height: 150px; /* Diminuído para ajustar o tamanho */
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

/* Mensagem de "Nenhuma receita encontrada" */
.no-resultados {
  margin-bottom: 350px;
  text-align: center;
  color: #FFA500; 
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Estilo para centralizar o título geral */
.titulo-geral {
  padding-top: 20px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.titulo-geral h1 {
  font-size: 2rem;
  color: #000000; /* Cor do título */
}

/* Estilo para o indicador de carregamento */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Altura para centralizar o conteúdo */
  font-size: 1.5rem;
  color: #ff9800; /* Cor laranja para chamar atenção */
  font-weight: bold;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

/* Animação de carregamento */
@keyframes loadingAnimation {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.9);
  }
}
