.recipe-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.recipe-box {
  width: 200px;
  margin: 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.titulo-principal {
  margin-top: 60px;
  margin-bottom: 60px;
} 
.recipe-box h3 {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; /* Garante que o título fique centralizado */
  text-align: center;
  margin-bottom: 8px;
  font-family: "Host Grotesk", sans-serif; /* Ajuste a fonte para combinar com o resto do projeto */
}

img {
  margin-top: auto;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efeito ao passar o mouse (hover) */
img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-color: #FFA500;
}

button {
  background-color: #FFA500;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 8px; /* Adiciona um espaço acima do botão para garantir alinhamento */
}

button:hover {
  background-color: #FF8C00;
}

button:active {
  background-color: #e67600;
}
