<main>
  <div *ngIf="carregando">
    <p>Carregando receitas...</p>
  </div>
  
  <h2 class="titulo-principal">{{ 'Tudo sobre ' + categoriaNome + ': receitas para todos os gostos' | titlecase }}</h2>

  
  <div class="recipe-list" *ngIf="!carregando">
    <div
      *ngFor="let receita of receita"
      class="recipe-box" appFundo>
      <img [src]="receita.strMealThumb" alt="{{ receita.strMeal }}" />
      <h3>{{ receita.strMeal | limitar}}</h3>
      <button [routerLink]="['/detalhes', receita.idMeal]">Ver detalhes</button>
    </div>
  </div>
</main>
