.site-header {
  font-family: "Oswald", serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: orange;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.site-header nav {
  font-family: "PT Serif", serif;
}

.site-header nav ul {
  list-style: none;
  display: flex;
  gap: 30px; }

.site-header nav ul li {
  display: inline;
}

.site-header nav ul li a {
  text-decoration: none;
  color: white ;
  padding: 5px 10px;   border-radius: 5px;   font-size: 18px;
  font-weight: bold;
  
}

.site-header nav ul li a:hover {
  color: #ff8c00;   background-color: #ffffff;   transition: background-color 0.3s, color 0.3s; }

#footer {
  background-color: #333;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-top: 2px solid #444;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);   position: relative;
  font-family: "Oswald", serif;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-text {
  margin: 10px 0;
}

.footer-text a {
  color: #ff7f50;
  text-decoration: none;
}

.footer-text a:hover {
  color: #ff5722;
  text-decoration: underline;
}

footer p {
  font-size: 14px;
}

footer strong {
  font-weight: bold;
}
