@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
/* Estilo do cabeçalho */
.site-header {
  font-family: "Oswald", serif;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: orange;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Adicionando a fonte PT Serif no nav */
.site-header nav {
  font-family: "PT Serif", serif;
}

.site-header nav ul {
  list-style: none;
  display: flex;
  gap: 30px; /* Aumentando o espaçamento entre os itens */
}

.site-header nav ul li {
  display: inline;
}

.site-header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.site-header nav ul li a:hover {
  color: #ff8c00; /* Tom mais escuro ao passar o mouse */
}

/* Estilo do rodapé */
#footer {
  background-color: #333;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-top: 2px solid #444;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
  position: relative;
  font-family: "Oswald", serif;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-text {
  margin: 10px 0;
}

.footer-text a {
  color: #ff7f50;
  text-decoration: none;
}

.footer-text a:hover {
  color: #ff5722;
  text-decoration: underline;
}

footer p {
  font-size: 14px;
}

footer strong {
  font-weight: bold;
}
