* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  background-color: orange;
  height: 100px;
  font-family: "Hubot Sans", sans-serif; /* Aplica Hubot Sans ao header */
}

header .logo img {
  width: 130px;
  height: auto;
}

header .site-info {
  flex-grow: 1;
  margin-left: -100px;
  display: flex;
  justify-content: center;
}
