/* Resetando margens e padding de todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centralizando apenas o conteúdo dentro da tag <main> */
main {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  width: 80%; /* Largura do conteúdo dentro de <main> */
  margin: 0 auto; /* Garante que o conteúdo fique centralizado na tela */
  text-align: center; /* Centraliza o texto dentro do <main> */
}

button {
  background-color: #FFA500; /* Laranja */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efeito hover */
button:hover {
  background-color: #FF8C00; /* Laranja mais escuro para destaque */
}

button:active {
  background-color: #e67600; /* Cor ainda mais escura para clique */
}

